.Container{
    margin: 0% 15% 0% 15%;
    display: flex;
    flex-direction: row;     
    flex-wrap: wrap;
    justify-content: space-between; 
}

.Project-Link{
    background-color: transparent;
    padding: 0;
    margin: 0;
}

img{
    height: 350px;
    width: 500px;
    margin: 3% 0%;
    border: 6px solid lightblue;
}

.Project-Header{
    background: lightblue;
    margin: 1% 38% 0%;
    padding: 0.5em;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
}

@media(min-width: 3000px){
    img{
        height: 750px;
        width: 1000px;
    } 

    .Project-Header{
        font-size: 4rem;
        margin: 1% 34% 0%;
    }
}

@media(max-width: 1500px){
    img{
        height: 250px;
        width: 400px;
    }

    .Project-Header{
        margin: 1% 30% 0%;
    }
}

@media(max-width: 1200px){
    .Container{
        margin: 0% 32%;
        flex-direction: column;
    }
    img{
        height: 200px;
        width: 400px;
    }
}

@media(max-width: 900px){
    .Container{
        margin: 0% 25%;
    }
}

@media(max-width: 500px){
    .Container{
        margin: 0% 15%;
    }
    img{
        height: 200px;
        width: 250px;
    }
}
