.Text-Container{
    padding: 1em;
    margin: 7% 25%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0px 3px 5px rgb(0,0,0);
}

.Text-Container-1{
    padding: 8px;
    margin: 2% 25%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.Submit-Div{
    display: flex;
    align-self: center;
}

p{
    font-size: 1.25rem;
}

.File{
    margin: 0px 0px 0px 10px;
}

@media(min-width: 3000px){
    *{
        font-size: 1.8rem;
    }

    .Text-Container-1{
        margin: 2% 10%;
    }

    p{
        font-size: 2rem;
    }
}

@media(min-width: 2000px){

}

@media(max-width: 1100px){
    .Text-Container{
        padding: 1em;
        margin: 1% 15%;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        box-shadow: 0px 3px 5px rgb(0,0,0);
    }

    .File{
        margin: 0;
        padding: 0;
    }
}

@media(max-width: 500px){
    .Text-Container{
        margin: 40% 5%;
    }

    .Text-Container-1{
        padding: 0px;
        margin: 0px;
    }
}
