body{
    /* background-color: #3690ad; */
    /* background-color: #4E4E4E; */
    /* background-color: #2B2B2B;
    color: white; */

        /* margin: 0;
        padding: 0;
        background-image: none; */

}

.Encoder-Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3% 0% 0% 0%
}

.Submit-Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 45px;
}

.Submit-Button{
    padding: 2px 25px;
    font-size: 20px;
}

.Encoder-Input, .Encoder-Select{
    padding: 4px 0px;
    font-size: 16px;
}

.Encoder-Label{
    font-size: 24px;
    padding: 0px 10px 0px 0px;
}

.Encoder-Img{
    max-width: 100px;
    max-height: 100px;
    border: none;
}

.Encoder-H1, .Encoder-H3, .Encoder-CurrencyConvert, .Encoder-LI, .Encoder-Label{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    color: orange;
}

.Encoder-H1, .Encoder-H3{
    font-size: 2rem;
}

.Encoder-H1{
    margin: 2% 0% 0% 0%;
}

.Encoder-UL{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0%; 
    padding: 0;
}

.Encoder-LI{
    height: 220px;
    width: 220px;
    background-color: #4E4E4E;
    border-radius: 12px;
    border: 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.Encoder-Container2{
    padding-top: 2%;
}

.Encoder-CurrencyConvert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

@media(max-width: 1500px){
    .Encoder-UL{
    flex-wrap: wrap;
    }
}
