.Info-Container{
    margin: 0% 25%;
}

.Project-Image, h3{
    padding: 0;
    margin: 0.5em;
}

.Project-Link{}

.Flex{
    margin: 5% 0% 8% 0%;
    padding: 4%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;     
    align-items: center; 
    border-radius: 25px;
}

