body{
    margin: 0;
    padding: 0;
    background-size:cover;
    background-image: url("../img/bgimg.jpg");
    background-repeat: no-repeat;
}

.header{
    width: 33%;
    padding: 1em 0em;
    margin: 0% 33%;
    justify-content: center;
    background-color: lightblue;
    box-shadow: 0px 3px 5px rgb(0,0,0);
}

.nav-list{
    display:flex;
    justify-content:space-between;
    padding: 0em 1em;
    background-color: lightblue
}

.nav-item{
    list-style: none;
}

a{
    color:white;
    padding: 0.6em;
    background-color: black;
    text-decoration: none;
}

@media(min-width: 2000px){
    .header{
        width: 60%;
        margin: 0% 20%;
    }
}

@media(max-width: 1100px){
    .header{
        width: 60%;
        margin: 0% 20%;
    }
    a{
        display: flex;
        justify-content: space-between;
        padding: 0.4em;
    }
}

@media(max-width: 650px){
    .header{
        width: 60%;
        margin: 0% 20%;
    }

    .nav-list{
        padding: 0em 0.5em;
    }

    a{
        display: flex;
        justify-content: space-between;
    }
}
