.About-Container{
    padding: 1em;
    margin: 7% 25%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0px 3px 5px rgb(0,0,0);
}

p, h1{
    align-self: center;
    margin: 3px;
    
}

h3{
    margin-top: 4%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.About-List{
    margin: 5px 0px 0px 0px;
    padding: 2px;
}

@media(min-width: 2000px){
    .About-Container{
        margin: 10%;
    }

    p{
        font-size: 4rem;
    }
    
    h1, h3, ul{
        font-size: 3rem;
    }

    li{
        margin: 0% 1%;
        font-size: 2.5rem;
    }
}

@media(max-width: 1500px){
    .About-Container{
        margin: 3% 20%;
    }
    h1, h3, ul, p{
        font-size: 1rem;
    }
    h3, ul{
        margin: 1% 0%;
    }
}

@media(max-width: 1100px){
    .About-Container{
        padding: 1em;
        margin: 1% 15%;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        box-shadow: 0px 3px 5px rgb(0,0,0);
    }
}

@media(max-width: 500px){
    h1, h3, p, .About-Container{
        font-size: 1rem;
    }
    .About-Container{
        margin: 3% 5%;
    }
}

